@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a  asp-area="" asp-controller="Home" asp-action="Index">BACK HOME</a>
